* {
    box-sizing: border-box;
}

#calc-display,
#calc-operators,
#calc-numbers {
    display: grid;
    width: 200px;
}

#calc-operators,
#calc-numbers {
    gap: 4px;
}

#calc-display {
    height: 50px;
    font-size: 30px;
    justify-content: right;
    align-items: center;
}

#calc-operators {
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 5px;
    height: 30px;
}

#calc-numbers {
    grid-template-columns: repeat(3, 1fr);
    height: 150px;
}