* {
    box-sizing: border-box;
}

#calc-display,
#calc-operators,
#calc-numbers {
    display: grid;
    width: 200px;
}

#calc-display,
#calc-operators {
    height: 30px;
}

#calc-operators,
#calc-numbers {
    gap: 4px;
}

#calc-display {
    font-size: 24px;
    text-align: right;
}

#calc-operators {
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 5px;
}

#calc-numbers {
    grid-template-columns: repeat(3, 1fr);
    height: 150px;
}